/* Shrinking navbar logo and dark background on scroll */
#mainNavbar.navbar-shrink {
    background-color: #232b2f !important;
    transition: background-color 0.3s;
}

#mainNavbar.navbar-shrink .logo-menu {
    height: 36px !important;
    transition: height 0.3s;
}

#mainNavbar .logo-menu {
    height: 56px;
    transition: height 0.3s;
}