/***********************************

 H E A D E R S

***********************************/
.micro-header{
    background-image: linear-gradient(to bottom right, rgba(204, 183, 188, .5), rgba(204, 183, 188, .5)), url('img/servicos/micro/header.jpeg');
    background-size: cover;
    height: 500px;
}

.esmal-header{
    background-image: linear-gradient(to bottom right, rgba(204, 183, 188, .5), rgba(204, 183, 188, .5)), url('img/servicos/esmalteria/ESMALTERIA_HEADER.jpg');
    background-size: cover;
    height: 500px;
}

.salao-header{
    background-image: linear-gradient(to bottom right, rgba(204, 183, 188, .5), rgba(204, 183, 188, .5)), url('img/servicos/salao/SALAO_HEADER.jpg');
    background-size: cover;
    height: 500px;
    background-position: center;
}

.corporal-header{
    background-image: linear-gradient(to bottom right, rgba(204, 183, 188, .5), rgba(204, 183, 188, .5)), url('img/servicos/corporal/CORPORAL_HEADER.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
}

.cilios-header{
    background-image: linear-gradient(to bottom right, rgba(204, 183, 188, .5), rgba(204, 183, 188, .5)), url('img/servicos/cilios/header_categoria_ciliosedesign.png');
    background-size: cover;
    background-position: center;
    height: 500px;
}

.facial-header{
    background-position: center;
    background-image: linear-gradient(to bottom right, rgba(204, 183, 188, .5), rgba(204, 183, 188, .5)), url('img/servicos/facial/FACIAL_HEADER.jpg');
    background-size: cover;
    height: 500px;
}

.faqheader{
    background-image: linear-gradient(to bottom right, rgba(204, 183, 188, .5), rgba(204, 183, 188, .5));
    background-size: cover;
    height: 300px;
}

/***********************************

 B U T T O N S

***********************************/

.btnAgendamento{
    background-color: transparent;
    /*color: #EEA7B8!important;*/
    color: #ccb7bc !important;
    border: 0;
    border: 1px solid #ccb7bc;
    font-size: 18px;
    letter-spacing: 1.8px;
    border-radius: 0;
}

.btnAgendamento:hover{
    color:#eea7b8!important;
}
/*
.btnAgendamento:hover {
    background-color: #EEA7B8;
    color: #eea7b8;
}
*/

/***********************************

 T A B L E

***********************************/

.table thead th {
    border-bottom:none!important;
}
.table td, .table th {
    border-top:none!important;
}

.table {
    margin:auto;
}

#tabelasalao1 td{
    text-align: right!important;
    padding-right:8px!important;
}

#tabelasalao2 td{
    padding-right:8px!important;
}

.alignbutCenter{
    margin: auto;
    display: flex;
    width: 30%;
    flex-direction: row;
    justify-content: center;
}

.tabcorporal {
    width:70%!important;
}

.tabcorporal td{
    text-align: right;
}

#tabesmal td{
    text-align: right;
}

/***********************************

 TODAS AS IMAGENS

***********************************/
.al1{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/esmalteria/banho_gel.jpg");
    background-position: center;
}

/******* C Í L I O S *******/
.imgmeumimo{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/cilios/meumimo.png");
}

.imgmimo{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/cilios/mimo.png");
    background-position: center;
}

.imgsupermimo{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/cilios/supermimo.jpg");
    background-position: center;
}

.imglashlift{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/cilios/lashliftingcilios.png");
}
.img-fitaades {
    background-size: cover;
    height: 519px;
    width: 200px;
    background-image: url("img/servicos/salao/mimo_megahair_site.png");
    background-position: center;
}
.imgliftsobr{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/cilios/liftsobrancelha.png");
    background-position: center;
}

.imgmimomega{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/cilios/mimomega.png");
    background-position: center;
}

.imgvolumerusso{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/cilios/volumerusso.jpeg");
    background-position: center;
}

.imgdesignsobr{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/cilios/designsobr.jpg");
    background-position: center;
}

/******* P E E L I N G *******/
.imgpdiamante{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/facial/DIAMANTE.png");
    background-position: center;
}

.imgpcristal{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/facial/peeling-de-cristaL.jpg");
    background-position: center;
}

.imgpquimico{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/facial/QUIMICO.jpg");
    background-position: center;
}

.imgmicroagulhamento{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/facial/microagulhamento.jpg");
    background-position: center;
}

.imgegipc{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url(img/servicos/facial/depilacao_egipcia.png);
    background-position: center;
}

/******* L I M P E Z A *******/

.imglmimo{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/facial/LIMPEZAMIMO.jpg");
    background-position: center;
}

.imglmicro{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/facial/limpezamicroagulhamento.png");
    background-position: center;
}

.imglmimovip{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/facial/MIMOVIP.jpg");
    background-position: center;
}

.imglmimodiamante{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/facial/MIMODIAMANTE.jpg");
    background-position: center;
}

/******* B A N H O   D E    G E L *******/

.imgbgel{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/esmalteria/banho_gel.jpg");
    background-position: center;
}

.imgbfibra{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/esmalteria/banho_fibra_de_vidro.jpg");
    background-position: center;
}

.imgbporcelana{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/esmalteria/banho_porcelana.jpg");
    background-position: center;
}

.imgbagri{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/esmalteria/banho_agrigel.png");
    background-position: center;
}

/******* A L O N G A M E N T O *******/

.imgagrimolde{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/esmalteria/ACRIGELCOMMOLDE.png");
    background-position: center;
}

.imgagriprot{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/esmalteria/ACRIGELCOMPROTESE.jpg");
    background-position: center;
}

.imgafibra{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/esmalteria/FIBRADEVIDRO.jpg");
    background-position: center;
}

.imgagelmolde{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/esmalteria/GELCOMMOLDE.jpg");
    background-position: center;
}

.imgagelprot{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/esmalteria/GELCOMPROTESE.jpg");
    background-position: center;
}

.imgaporcelana{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/esmalteria/PORCELANA.jpg");
    background-position: center;
}


/******* S A L A O *******/

.imgBlond{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/salao/Blond.png");
    background-position: center;
}


.imgFullBlond{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/salao/FullBlond.png");
    background-position: center;
}

.imgFullFantasy{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/salao/FullFantasy.png");
    background-position: center;
}


.imgMimoCut{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/salao/MimoCut.png");
    background-position: center;
}

.imgOmbre{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/salao/Ombre.png?2");
    background-position: center;
}


.imgRoyal{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/salao/Royal.png");
    background-position: center;
}

.imgRuivoDeluxe{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/salao/RuivoDeluxe.png");
    background-position: center;
}


.imgRuivoMimo{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/salao/RuivoMimo.png");
    background-position: center;
}

.imgSummer{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/salao/Summer.png?2");
    background-position: center;
}


.imgTonalizacao{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/salao/Tonalização.png");
    background-position: center;
}

.imgAmoniaFree {
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/salao/AmoniaFree.png");
    background-position: center;
}

.imgLavagemTonalizante {
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/salao/LavagemTonalizante.png?2");
    background-position: center;
}

.imgMimoGloss {
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/salao/MimoGloss.png?2");
    background-position: center;
}

/******* M A S S A G E M *******/

.imgmdrenamod{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/corporal/drenamodeladora.jpg?2");
    background-position: center;
}

.imgmdrenodetox{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/corporal/drenodetoxpower.jpg");
    background-position: center;
}

.imgmlinfatica{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/corporal/linfatica.jpg");
    background-position: center;
}


.imgmimodetox{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/corporal/mimodetox.jpg");
    background-position: center;
}


.imgmrelaxante{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/corporal/relaxante.png");
    background-position: center;
}

.imgmodeladora{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/corporal/modeladora.png");
    background-position: center;
}

.imgestrias{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/corporal/estrias.jpg");
    background-position: center;
}

.imgpellingintimo{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/corporal/areaintima.jpg");
    background-position: center;
}



/******* A P A R E L H O S *******/

.imgeultrassom{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/corporal/ultrassom.jpg");
    background-position: center;
}

.imgcorrenterussa{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/corporal/Corrente-Russa.jpg");
    background-position: center;
}


.imgcriofreq{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/corporal/criofrequencia.jpg");
    background-position: center;
}

.imgendermo{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/corporal/endermoterapia.jpg");
    background-position: center;
}

.imgpump{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/corporal/pump.png");
    background-position: center;
}

.imgradiofreq{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/corporal/radiofrequencia.jpg");
    background-position: center;
}

/******* M I C R O *******/

.microlips{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-position: center;
    background-image: url("img/servicos/micro/lips.jpg");
}

.microsobrancelha{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/micro/Microblading.jpg");
}


/* modal */

.modal-body p{
    font-size: 14px!important;
    text-align: left!important;
    margin: 28px!important;
}


/* deixando as imagens em elipse */

.imgmeumimo ,
.imgmimo ,
.imgsupermimo ,
.imglashlift ,
.imgliftsobr ,
.imgmimomega ,
.imgvolumerusso ,
.imgdesignsobr ,
.imgpdiamante ,
.imgpcristal ,
.imgpquimico ,
.imgmicroagulhamento,
.imgegipc,
.imglmimo ,
.imgestrias,
.imgpellingintimo,
.imglmicro ,
.imglmimovip ,
.imglmimodiamante ,
.imgbgel ,
.imgbfibra ,
.imgbporcelana ,
.imgbagri ,
.imgagrimolde ,
.imgagriprot ,
.imgafibra ,
.imgagelmolde ,
.imgBlond ,
.imgFullBlond ,
.imgFullFantasy ,
.imgMimoCut ,
.imgOmbre ,
.imgRoyal ,
.imgRuivoDeluxe ,
.imgRuivoMimo ,
.imgSummer ,
.imgTonalizacao ,
.imgagelprot ,
.imgaporcelana ,
.imgmdrenamod ,
.imgmdrenodetox ,
.imgmlinfatica ,
.imgmimodetox ,
.imgmrelaxante ,
.imgmodeladora ,
.imgcorrenterussa ,
.imgcriofreq ,
.imgendermo ,
.imgpump ,
.imgradiofreq ,
.microlips ,
.microsobrancelha
{
    /*border-radius: 50%;*/
}

/***********************************

 M O B I L E E

***********************************/
@media only screen and (max-width: 750px) {
    .btnSalao{
        width:100%;
        margin: 10px 0;
    }

    .al1 ,
    .imgmeumimo ,
    .imgmimo ,
    .imgsupermimo ,
    .imglashlift ,
    .imgliftsobr ,
    .imgmimomega ,
    .imgvolumerusso ,
    .imgdesignsobr ,
    .imgpdiamante ,
    .imgpcristal ,
    .imgpquimico ,
    .imgmicroagulhamento ,
    .imgegipc,
    .imglmimo ,
    .imglmicro ,
    .imglmimovip ,
    .imglmimodiamante ,
    .imgbgel ,
    .imgbfibra ,
    .imgbporcelana ,
    .imgbagri ,
    .imgagrimolde ,
    .imgagriprot ,
    .imgafibra ,
    .imgagelmolde ,
    .imgestrias,
    .imgpellingintimo,
    .imgBlond ,
    .imgFullBlond ,
    .imgFullFantasy ,
    .imgMimoCut ,
    .imgOmbre ,
    .imgRoyal ,
    .imgRuivoDeluxe ,
    .imgRuivoMimo ,
    .imgSummer ,
    .imgTonalizacao ,
    .imgagelprot ,
    .imgaporcelana ,
    .imgmdrenamod ,
    .imgmdrenodetox ,
    .imgmlinfatica ,
    .imgmimodetox ,
    .imgmrelaxante ,
    .imgmodeladora ,
    .imgcorrenterussa ,
    .imgcriofreq ,
    .imgendermo ,
    .imgpump ,
    .imgradiofreq ,
    .microlips ,
    .microsobrancelha {
        width: 100%;
        border-radius: initial!important;
        float: none !important;
    }

    .micro-header ,
    .esmal-header ,
    .salao-header ,
    .corporal-header ,
    .cilios-header ,
    .facial-header {
        height:300px!important;
        margin-top: 100px!important;
    }

    .micro-header h2,
    .esmal-header h2,
    .salao-header h2,
    .corporal-header h2,
    .cilios-header h2,
    .facial-header h2{
        margin-top: 190px!important;
        line-height: inherit!important;
        font-size: 26px!important;
    }

    .col-md-8 , .col-xs-12{
        margin-left: auto!important;
        margin-top:20px;
    }
    h2 .corporal-header {
        line-height: 2;
        margin-top: 200px;
    }
    .alignbutCenter {
        width:100%;
    }
    #tabcorporal {
        width:100%!important;
    }
    .tabcorporal {
        width:100%!important;
        margin-bottom: 35px;
    }

    .displayInherit{
        display:inherit!important;
    }

    .tableManicure {
        display:inherit!important;
    }

    .tableManicure td {
        float: right!important;
    }
    .tableManicure th {
        width: 65%!important;
    }

    .tabcorporal td{
        float: right!important;
    }

    .tabcorporal th{
        width: 65%!important;
    }

    tr{
        border-bottom: 20px solid white!important;
        border-top: 20px solid white!important;
    }

    #pills-salao>.col-md-10 ,
    #pills-salao>.col-md-12 {
        padding: 0!important;
    }

    #fixmobile>.col-md-12 ,
    #fixmobile>.col-md-10{
        padding: 0!important;
    }

    #pills-salao th{
        font-size: 14px!important;
    }

    #pills-salao td{
        font-size: 13px!important;
    }

    #tabelasalao2 th {
        width: 20%;
    }
}

@media only screen and (min-width: 980px) {
    .btnSalao{
        width:100%!important;
        margin: 10px 0;
    }
}